@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: large;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
