@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-content {
  @apply max-w-6xl;
}

:root {
  font-size: large;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
